@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    font-family: "Manrope" , serif;
}
.image-one{
    width:400px;
    height: 100%;
    float:left;
    padding-right: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.image-two{
    width:64px;
    height:64px;
    border-radius: 50%;
    float:left;
    padding-right: 20px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(213, 16%, 77%);
    letter-spacing: 0px;
    font-size: smaller;
}
main{
    width:90%;
    height: 60%;
    background-color: hsl(210, 46%, 95%);
    padding:0 15px 0 0;
    border-radius: 20px;

}
h1{
    font-size: 25px;
    font-weight: 900;
    color: #2f3844;
}
p{
    margin-top: 20px;
    font-size: 15px;
    color: #4d5c70;
}
.biodata{
    margin-top: 10%;
    position: relative;
}
.biodata > p{
    margin-top: -10px;
    color: #a5afb9;
}
.biodata > svg{
    position: absolute;
    right:20px;
    top: 20px;
    background-color: #bbbbbb;
    padding: 10px;
    border-radius: 20px;
}
dialog{
    position: relative;
    left:80%;
    top:20%;
    width:200px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #2f3844;
    overflow: hidden;
    padding:20px;
}
dialog > svg{
    padding: 10px;
    margin-left:1px;
}
dialog > span {
    position: relative;
    top: -15px;
    color: #a5afb9;
    font-size: 14px;
    letter-spacing: 5px;
}
.jj{
    position: absolute;
    right:30px;
    top:-5px;
    z-index: 1;
    border-bottom: 15px solid #2f3844;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform:rotate(180deg);
}
@media screen and (max-width:700px){
.image-one{
        width:100%;
        padding: 7px;
        height: 40%;
        object-fit: cover;
        border-radius: 20px;
}
h1 , p{
    margin-left: 10px;
}
main{
        display: flex;
        flex-direction: column;
        width:80%;
        height: 100vh;
    }
.biodata{
        margin-top: 10px;
        justify-items: flex-end;
    }
    dialog{
        position: absolute;
        left:0;
        top:500px;
        width:70%;
        height: 30px;
        border-radius: 10px;
        background-color: #2f3844;
        overflow: hidden;
        padding:25px;
        margin-right:10%;
    }
    dialog > svg{
        padding: 10px;
        margin-left:1px;
    }
    dialog > span {
        position: relative;
        top: -15px;
        color: #a5afb9;
        font-size: 14px;
        letter-spacing: 5px;
    }
    .jj{
        display:none
    }
.biodata > svg{
    background-color: #2f3844;
    margin-top: 13px;
}
}
@media screen and (min-width:700px) and (max-width:950px) {
    main{
        width:80%;
        height: 60%;
        background-color: hsl(210, 46%, 95%);
        padding:0 15px 0 0;
        border-radius: 20px;
    } 
    .image-one{
        width:40%;
        height: 100%;
        object-fit: cover;
        float:left;
        padding-right: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .biodata{
        margin-top: 50px;
        position: relative;
    }
    dialog{
        position: relative;
        left:68%;
        top:7%;
        width:200px;
        height: 30px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: #2f3844;
        overflow: hidden;
        padding:20px;
    }
    dialog > svg{
        padding: 10px;
        margin-left:1px;
    }
    dialog > span {
        position: relative;
        top: -15px;
        color: #a5afb9;
        font-size: 14px;
        letter-spacing: 5px;
    }
    .jj{
        position: absolute;
        right:30px;
        top:-24px;
        z-index: 1;
        border-bottom: 15px solid #2f3844;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        transform:rotate(180deg);
    }
}
